(
    texture_width: 512,
    texture_height: 512,
    sprites: [
        (
            name: "wall_top_left",
            x: 16,
            y: 0,
            width: 16,
            height: 16,
            frames: 1,
        ),// [0]
        (
            name: "wall_top_mid",
            x: 32,
            y: 0,
            width: 16,
            height: 16,
            frames: 1,
        ),// [1]
        (
            name: "wall_top_right",
            x: 48,
            y: 0,
            width: 16,
            height: 16,
            frames: 1,
        ),// [2]
        (
            name: "wall_left",
            x: 16,
            y: 16,
            width: 16,
            height: 16,
            frames: 1,
        ),// [3]
        (
            name: "wall_mid",
            x: 32,
            y: 16,
            width: 16,
            height: 16,
            frames: 1,
        ),// [4]
        (
            name: "wall_right",
            x: 48,
            y: 16,
            width: 16,
            height: 16,
            frames: 1,
        ),// [5]
        (
            name: "wall_fountain_top",
            x: 64,
            y: 0,
            width: 16,
            height: 16,
            frames: 1,
        ),// [6]
        (
            name: "wall_fountain_mid_red_anim",
            x: 64,
            y: 16,
            width: 16,
            height: 16,
            frames: 3,
        ),// [7]
        (
            name: "wall_fountain_basin_red_anim",
            x: 64,
            y: 32,
            width: 16,
            height: 16,
            frames: 3,
        ),// [8]
        (
            name: "wall_fountain_mid_blue_anim",
            x: 64,
            y: 48,
            width: 16,
            height: 16,
            frames: 3,
        ),// [9]
        (
            name: "wall_fountain_basin_blue_anim",
            x: 64,
            y: 64,
            width: 16,
            height: 16,
            frames: 3,
        ),// [10]
        (
            name: "wall_hole_1",
            x: 48,
            y: 32,
            width: 16,
            height: 16,
            frames: 1,
        ),// [11]
        (
            name: "wall_hole_2",
            x: 48,
            y: 48,
            width: 16,
            height: 16,
            frames: 1,
        ),// [12]
        (
            name: "wall_banner_red",
            x: 16,
            y: 32,
            width: 16,
            height: 16,
            frames: 1,
        ),// [13]
        (
            name: "wall_banner_blue",
            x: 32,
            y: 32,
            width: 16,
            height: 16,
            frames: 1,
        ),// [14]
        (
            name: "wall_banner_green",
            x: 16,
            y: 48,
            width: 16,
            height: 16,
            frames: 1,
        ),// [15]
        (
            name: "wall_banner_yellow",
            x: 32,
            y: 48,
            width: 16,
            height: 16,
            frames: 1,
        ),// [16]
        (
            name: "column_top",
            x: 80,
            y: 80,
            width: 16,
            height: 16,
            frames: 1,
        ),// [17]
        (
            name: "column_mid",
            x: 80,
            y: 96,
            width: 16,
            height: 16,
            frames: 1,
        ),// [18]
        (
            name: "coulmn_base",
            x: 80,
            y: 112,
            width: 16,
            height: 16,
            frames: 1,
        ),// [19]
        (
            name: "wall_column_top",
            x: 96,
            y: 80,
            width: 16,
            height: 16,
            frames: 1,
        ),// [20]
        (
            name: "wall_column_mid",
            x: 96,
            y: 96,
            width: 16,
            height: 16,
            frames: 1,
        ),// [21]
        (
            name: "wall_coulmn_base",
            x: 96,
            y: 112,
            width: 16,
            height: 16,
            frames: 1,
        ),// [22]
        (
            name: "wall_goo",
            x: 64,
            y: 80,
            width: 16,
            height: 16,
            frames: 1,
        ),// [23]
        (
            name: "wall_goo_base",
            x: 64,
            y: 96,
            width: 16,
            height: 16,
            frames: 1,
        ),// [24]
        (
            name: "floor_1",
            x: 16,
            y: 64,
            width: 16,
            height: 16,
            frames: 1,
        ),// [25]
        (
            name: "floor_2",
            x: 32,
            y: 64,
            width: 16,
            height: 16,
            frames: 1,
        ),// [26]
        (
            name: "floor_3",
            x: 48,
            y: 64,
            width: 16,
            height: 16,
            frames: 1,
        ),// [27]
        (
            name: "floor_4",
            x: 16,
            y: 80,
            width: 16,
            height: 16,
            frames: 1,
        ),// [28]
        (
            name: "floor_5",
            x: 32,
            y: 80,
            width: 16,
            height: 16,
            frames: 1,
        ),// [29]
        (
            name: "floor_6",
            x: 48,
            y: 80,
            width: 16,
            height: 16,
            frames: 1,
        ),// [30]
        (
            name: "floor_7",
            x: 16,
            y: 96,
            width: 16,
            height: 16,
            frames: 1,
        ),// [31]
        (
            name: "floor_8",
            x: 32,
            y: 96,
            width: 16,
            height: 16,
            frames: 1,
        ),// [32]
        (
            name: "floor_ladder",
            x: 48,
            y: 96,
            width: 16,
            height: 16,
            frames: 1,
        ),// [33]
        (
            name: "floor_spikes_anim",
            x: 16,
            y: 176,
            width: 16,
            height: 16,
            frames: 4,
        ),// [34]
        (
            name: "wall_side_top_left",
            x: 0,
            y: 112,
            width: 16,
            height: 16,
            frames: 1,
        ),// [35]
        (
            name: "wall_side_top_right",
            x: 16,
            y: 112,
            width: 16,
            height: 16,
            frames: 1,
        ),// [36]
        (
            name: "wall_side_mid_left",
            x: 0,
            y: 128,
            width: 16,
            height: 16,
            frames: 1,
        ),// [37]
        (
            name: "wall_side_mid_right",
            x: 16,
            y: 128,
            width: 16,
            height: 16,
            frames: 1,
        ),// [38]
        (
            name: "wall_side_front_left",
            x: 0,
            y: 144,
            width: 16,
            height: 16,
            frames: 1,
        ),// [39]
        (
            name: "wall_side_front_right",
            x: 16,
            y: 144,
            width: 16,
            height: 16,
            frames: 1,
        ),// [40]
        (
            name: "wall_corner_top_left",
            x: 32,
            y: 112,
            width: 16,
            height: 16,
            frames: 1,
        ),// [41]
        (
            name: "wall_corner_top_right",
            x: 48,
            y: 112,
            width: 16,
            height: 16,
            frames: 1,
        ),// [42]
        (
            name: "wall_corner_left",
            x: 32,
            y: 128,
            width: 16,
            height: 16,
            frames: 1,
        ),// [43]
        (
            name: "wall_corner_right",
            x: 48,
            y: 128,
            width: 16,
            height: 16,
            frames: 1,
        ),// [44]
        (
            name: "wall_corner_bottom_left",
            x: 32,
            y: 144,
            width: 16,
            height: 16,
            frames: 1,
        ),// [45]
        (
            name: "wall_corner_bottom_right",
            x: 48,
            y: 144,
            width: 16,
            height: 16,
            frames: 1,
        ),// [46]
        (
            name: "wall_corner_front_left",
            x: 32,
            y: 160,
            width: 16,
            height: 16,
            frames: 1,
        ),// [47]
        (
            name: "wall_corner_front_right",
            x: 48,
            y: 160,
            width: 16,
            height: 16,
            frames: 1,
        ),// [48]
        (
            name: "wall_inner_corner_l_top_left",
            x: 80,
            y: 128,
            width: 16,
            height: 16,
            frames: 1,
        ),// [49]
        (
            name: "wall_inner_corner_l_top_rigth",
            x: 64,
            y: 128,
            width: 16,
            height: 16,
            frames: 1,
        ),// [50]
        (
            name: "wall_inner_corner_mid_left",
            x: 80,
            y: 144,
            width: 16,
            height: 16,
            frames: 1,
        ),// [51]
        (
            name: "wall_inner_corner_mid_rigth",
            x: 64,
            y: 144,
            width: 16,
            height: 16,
            frames: 1,
        ),// [52]
        (
            name: "wall_inner_corner_t_top_left",
            x: 80,
            y: 160,
            width: 16,
            height: 16,
            frames: 1,
        ),// [53]
        (
            name: "wall_inner_corner_t_top_rigth",
            x: 64,
            y: 160,
            width: 16,
            height: 16,
            frames: 1,
        ),// [54]
        (
            name: "edge",
            x: 96,
            y: 128,
            width: 16,
            height: 16,
            frames: 1,
        ),// [55]
        (
            name: "hole",
            x: 96,
            y: 144,
            width: 16,
            height: 16,
            frames: 1,
        ),// [56]
        (
            name: "doors_all",
            x: 16,
            y: 221,
            width: 64,
            height: 35,
            frames: 1,
        ),// [57]
        (
            name: "doors_frame_left",
            x: 16,
            y: 224,
            width: 16,
            height: 32,
            frames: 1,
        ),// [58]
        (
            name: "doors_frame_top",
            x: 32,
            y: 221,
            width: 32,
            height: 3,
            frames: 1,
        ),// [59]
        (
            name: "doors_frame_righ",
            x: 63,
            y: 224,
            width: 16,
            height: 32,
            frames: 1,
        ),// [60]
        (
            name: "doors_leaf_closed",
            x: 32,
            y: 224,
            width: 32,
            height: 32,
            frames: 1,
        ),// [61]
        (
            name: "doors_leaf_open",
            x: 80,
            y: 224,
            width: 32,
            height: 32,
            frames: 1,
        ),// [62]
        (
            name: "chest_empty_open_anim",
            x: 240,
            y: 208,
            width: 16,
            height: 16,
            frames: 3,
        ),// [63]
        (
            name: "chest_full_open_anim",
            x: 240,
            y: 224,
            width: 16,
            height: 16,
            frames: 3,
        ),// [64]
        (
            name: "chest_mimic_open_anim",
            x: 240,
            y: 240,
            width: 16,
            height: 16,
            frames: 3,
        ),// [65]
        (
            name: "flask_big_red",
            x: 288,
            y: 224,
            width: 16,
            height: 16,
            frames: 1,
        ),// [66]
        (
            name: "flask_big_blue",
            x: 304,
            y: 224,
            width: 16,
            height: 16,
            frames: 1,
        ),// [67]
        (
            name: "flask_big_green",
            x: 320,
            y: 224,
            width: 16,
            height: 16,
            frames: 1,
        ),// [68]
        (
            name: "flask_big_yellow",
            x: 336,
            y: 224,
            width: 16,
            height: 16,
            frames: 1,
        ),// [69]
        (
            name: "flask_red",
            x: 288,
            y: 240,
            width: 16,
            height: 16,
            frames: 1,
        ),// [70]
        (
            name: "flask_blue",
            x: 304,
            y: 240,
            width: 16,
            height: 16,
            frames: 1,
        ),// [71]
        (
            name: "flask_green",
            x: 320,
            y: 240,
            width: 16,
            height: 16,
            frames: 1,
        ),// [72]
        (
            name: "flask_yellow",
            x: 336,
            y: 240,
            width: 16,
            height: 16,
            frames: 1,
        ),// [73]
        (
            name: "skull",
            x: 224,
            y: 224,
            width: 16,
            height: 16,
            frames: 1,
        ),// [74]
        (
            name: "crate",
            x: 224,
            y: 202,
            width: 16,
            height: 22,
            frames: 1,
        ),// [75]
        (
            name: "coin_anim",
            x: 288,
            y: 272,
            width: 8,
            height: 8,
            frames: 4,
        ),// [76]
        (
            name: "ui_heart_full",
            x: 288,
            y: 256,
            width: 16,
            height: 16,
            frames: 1,
        ),// [77]
        (
            name: "ui_heart_half",
            x: 304,
            y: 256,
            width: 16,
            height: 16,
            frames: 1,
        ),// [78]
        (
            name: "ui_heart_empty",
            x: 320,
            y: 256,
            width: 16,
            height: 16,
            frames: 1,
        ),// [79]
        (
            name: "weapon_knife",
            x: 293,
            y: 18,
            width: 6,
            height: 13,
            frames: 1,
        ),// [80]
        (
            name: "weapon_rusty_sword",
            x: 307,
            y: 26,
            width: 10,
            height: 21,
            frames: 1,
        ),// [81]
        (
            name: "weapon_regular_sword",
            x: 323,
            y: 26,
            width: 10,
            height: 21,
            frames: 1,
        ),// [82]
        (
            name: "weapon_red_gem_sword",
            x: 339,
            y: 26,
            width: 10,
            height: 21,
            frames: 1,
        ),// [83]
        (
            name: "weapon_big_hammer",
            x: 291,
            y: 42,
            width: 10,
            height: 37,
            frames: 1,
        ),// [84]
        (
            name: "weapon_hammer",
            x: 307,
            y: 55,
            width: 10,
            height: 24,
            frames: 1,
        ),// [85]
        (
            name: "weapon_baton_with_spikes",
            x: 323,
            y: 57,
            width: 10,
            height: 22,
            frames: 1,
        ),// [86]
        (
            name: "weapon_mace",
            x: 339,
            y: 55,
            width: 10,
            height: 24,
            frames: 1,
        ),// [87]
        (
            name: "weapon_katana",
            x: 293,
            y: 82,
            width: 6,
            height: 29,
            frames: 1,
        ),// [88]
        (
            name: "weapon_saw_sword",
            x: 307,
            y: 86,
            width: 10,
            height: 25,
            frames: 1,
        ),// [89]
        (
            name: "weapon_anime_sword",
            x: 322,
            y: 81,
            width: 12,
            height: 30,
            frames: 1,
        ),// [90]
        (
            name: "weapon_axe",
            x: 341,
            y: 90,
            width: 9,
            height: 21,
            frames: 1,
        ),// [91]
        (
            name: "weapon_machete",
            x: 294,
            y: 121,
            width: 5,
            height: 22,
            frames: 1,
        ),// [92]
        (
            name: "weapon_cleaver",
            x: 310,
            y: 124,
            width: 8,
            height: 19,
            frames: 1,
        ),// [93]
        (
            name: "weapon_duel_sword",
            x: 325,
            y: 113,
            width: 9,
            height: 30,
            frames: 1,
        ),// [94]
        (
            name: "weapon_knight_sword",
            x: 339,
            y: 114,
            width: 10,
            height: 29,
            frames: 1,
        ),// [95]
        (
            name: "weapon_golden_sword",
            x: 291,
            y: 153,
            width: 10,
            height: 22,
            frames: 1,
        ),// [96]
        (
            name: "weapon_lavish_sword",
            x: 307,
            y: 145,
            width: 10,
            height: 30,
            frames: 1,
        ),// [97]
        (
            name: "weapon_red_magic_staff",
            x: 324,
            y: 145,
            width: 8,
            height: 30,
            frames: 1,
        ),// [98]
        (
            name: "weapon_green_magic_staff",
            x: 340,
            y: 145,
            width: 8,
            height: 30,
            frames: 1,
        ),// [99]
        (
            name: "tiny_zombie_idle_anim",
            x: 368,
            y: 16,
            width: 16,
            height: 16,
            frames: 4,
        ),// [100]
        (
            name: "tiny_zombie_run_anim",
            x: 432,
            y: 16,
            width: 16,
            height: 16,
            frames: 4,
        ),// [101]
        (
            name: "goblin_idle_anim",
            x: 368,
            y: 32,
            width: 16,
            height: 16,
            frames: 4,
        ),// [102]
        (
            name: "goblin_run_anim",
            x: 432,
            y: 32,
            width: 16,
            height: 16,
            frames: 4,
        ),// [103]
        (
            name: "imp_idle_anim",
            x: 368,
            y: 48,
            width: 16,
            height: 16,
            frames: 4,
        ),// [104]
        (
            name: "imp_run_anim",
            x: 432,
            y: 48,
            width: 16,
            height: 16,
            frames: 4,
        ),// [105]
        (
            name: "skelet_idle_anim",
            x: 368,
            y: 80,
            width: 16,
            height: 16,
            frames: 4,
        ),// [106]
        (
            name: "skelet_run_anim",
            x: 432,
            y: 80,
            width: 16,
            height: 16,
            frames: 4,
        ),// [107]
        (
            name: "muddy_idle_anim",
            x: 368,
            y: 112,
            width: 16,
            height: 16,
            frames: 4,
        ),// [108]
        (
            name: "muddy_run_anim",
            x: 368,
            y: 112,
            width: 16,
            height: 16,
            frames: 4,
        ),// [109]
        (
            name: "swampy_idle_anim",
            x: 432,
            y: 112,
            width: 16,
            height: 16,
            frames: 4,
        ),// [110]
        (
            name: "swampy_run_anim",
            x: 432,
            y: 112,
            width: 16,
            height: 16,
            frames: 4,
        ),// [111]
        (
            name: "zombie_idle_anim",
            x: 368,
            y: 144,
            width: 16,
            height: 16,
            frames: 4,
        ),// [112]
        (
            name: "zombie_run_anim",
            x: 368,
            y: 144,
            width: 16,
            height: 16,
            frames: 4,
        ),// [113]
        (
            name: "ice_zombie_idle_anim",
            x: 432,
            y: 144,
            width: 16,
            height: 16,
            frames: 4,
        ),// [114]
        (
            name: "ice_zombie_run_anim",
            x: 432,
            y: 144,
            width: 16,
            height: 16,
            frames: 4,
        ),// [115]
        (
            name: "masked_orc_idle_anim",
            x: 368,
            y: 172,
            width: 16,
            height: 20,
            frames: 4,
        ),// [116]
        (
            name: "masked_orc_run_anim",
            x: 432,
            y: 172,
            width: 16,
            height: 20,
            frames: 4,
        ),// [117]
        (
            name: "orc_warrior_idle_anim",
            x: 368,
            y: 204,
            width: 16,
            height: 20,
            frames: 4,
        ),// [118]
        (
            name: "orc_warrior_run_anim",
            x: 432,
            y: 204,
            width: 16,
            height: 20,
            frames: 4,
        ),// [119]
        (
            name: "orc_shaman_idle_anim",
            x: 368,
            y: 236,
            width: 16,
            height: 20,
            frames: 4,
        ),// [120]
        (
            name: "orc_shaman_run_anim",
            x: 432,
            y: 236,
            width: 16,
            height: 20,
            frames: 4,
        ),// [121]
        (
            name: "necromancer_idle_anim",
            x: 368,
            y: 268,
            width: 16,
            height: 20,
            frames: 4,
        ),// [122]
        (
            name: "necromancer_run_anim",
            x: 368,
            y: 268,
            width: 16,
            height: 20,
            frames: 4,
        ),// [123]
        (
            name: "wogol_idle_anim",
            x: 368,
            y: 300,
            width: 16,
            height: 20,
            frames: 4,
        ),// [124]
        (
            name: "wogol_run_anim",
            x: 432,
            y: 300,
            width: 16,
            height: 20,
            frames: 4,
        ),// [125]
        (
            name: "chort_idle_anim",
            x: 368,
            y: 328,
            width: 16,
            height: 24,
            frames: 4,
        ),// [126]
        (
            name: "chort_run_anim",
            x: 432,
            y: 328,
            width: 16,
            height: 24,
            frames: 4,
        ),// [127]
        (
            name: "big_zombie_idle_anim",
            x: 16,
            y: 270,
            width: 32,
            height: 34,
            frames: 4,
        ),// [128]
        (
            name: "big_zombie_run_anim",
            x: 144,
            y: 270,
            width: 32,
            height: 34,
            frames: 4,
        ),// [129]
        (
            name: "ogre_idle_anim",
            x: 16,
            y: 320,
            width: 32,
            height: 32,
            frames: 4,
        ),// [130]
        (
            name: "ogre_run_anim",
            x: 144,
            y: 320,
            width: 32,
            height: 32,
            frames: 4,
        ),// [131]
        (
            name: "big_demon_idle_anim",
            x: 16,
            y: 364,
            width: 32,
            height: 36,
            frames: 4,
        ),// [132]
        (
            name: "big_demon_run_anim",
            x: 144,
            y: 364,
            width: 32,
            height: 36,
            frames: 4,
        ),// [133]
        (
            name: "elf_f_idle_anim",
            x: 128,
            y: 4,
            width: 16,
            height: 28,
            frames: 4,
        ),// [134]
        (
            name: "elf_f_run_anim",
            x: 192,
            y: 4,
            width: 16,
            height: 28,
            frames: 4,
        ),// [135]
        (
            name: "elf_f_hit_anim",
            x: 256,
            y: 4,
            width: 16,
            height: 28,
            frames: 1,
        ),// [136]
        (
            name: "elf_m_idle_anim",
            x: 128,
            y: 36,
            width: 16,
            height: 28,
            frames: 4,
        ),// [137]
        (
            name: "elf_m_run_anim",
            x: 192,
            y: 36,
            width: 16,
            height: 28,
            frames: 4,
        ),// [138]
        (
            name: "elf_m_hit_anim",
            x: 256,
            y: 36,
            width: 16,
            height: 28,
            frames: 1,
        ),// [139]
        (
            name: "knight_f_idle_anim",
            x: 128,
            y: 68,
            width: 16,
            height: 28,
            frames: 4,
        ),// [140]
        (
            name: "knight_f_run_anim",
            x: 192,
            y: 68,
            width: 16,
            height: 28,
            frames: 4,
        ),// [141]
        (
            name: "knight_f_hit_anim",
            x: 256,
            y: 68,
            width: 16,
            height: 28,
            frames: 1,
        ),// [142]
        (
            name: "knight_m_idle_anim",
            x: 128,
            y: 100,
            width: 16,
            height: 28,
            frames: 4,
        ),// [143]
        (
            name: "knight_m_run_anim",
            x: 192,
            y: 100,
            width: 16,
            height: 28,
            frames: 4,
        ),// [144]
        (
            name: "knight_m_hit_anim",
            x: 256,
            y: 100,
            width: 16,
            height: 28,
            frames: 1,
        ),// [145]
        (
            name: "wizzard_f_idle_anim",
            x: 128,
            y: 132,
            width: 16,
            height: 28,
            frames: 4,
        ),// [146]
        (
            name: "wizzart_f_run_anim",
            x: 192,
            y: 132,
            width: 16,
            height: 28,
            frames: 4,
        ),// [147]
        (
            name: "wizzart_f_hit_anim",
            x: 256,
            y: 132,
            width: 16,
            height: 28,
            frames: 1,
        ),// [148]
        (
            name: "wizzard_m_idle_anim",
            x: 128,
            y: 164,
            width: 16,
            height: 28,
            frames: 4,
        ),// [149]
        (
            name: "wizzart_m_run_anim",
            x: 192,
            y: 164,
            width: 16,
            height: 28,
            frames: 4,
        ),// [150]
        (
            name: "wizzart_m_hit_anim",
            x: 256,
            y: 164,
            width: 16,
            height: 28,
            frames: 1,
        ),// [151]
    ],
)